*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0 auto;
  max-width: 768px;
}
h2 {
  margin: 0 auto;
  text-align: center;
}
.question{
  margin-top: 20px;
  margin-bottom: 10px;
}

.answerWraper{
  margin-bottom: 5px;
  margin-left: 20px;
}

.buttonWraper{
  margin: 0 auto;
  text-align: center;
}
